force-app/main/default/flows/Lead_Call_Source_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Other Sources</defaultConnectorLabel>
        <rules>
            <name>Source_Matches</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>source1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>source2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Lead_to_Objection_Proof</targetReference>
            </connector>
            <label>Source Matches</label>
        </rules>
    </decisions>
    <description>Template flow: clone this flow and update the Lead Source values in the Decision element to match your org. Then activate your cloned version. This managed version ships inactive as a reference template.</description>
    <interviewLabel>Lead Call Source Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Call Source Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <actionCalls>
        <name>Send_Lead_to_Objection_Proof</name>
        <label>Send Lead to Objection Proof</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>LeadCalloutInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Lead_Source</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
